.individual_post_container{
    padding-top: 5rem;
    min-height: 90vh;
}

.individual_btn{
    align-items: center;
    gap: 1rem;
    display: flex;
    justify-content: center;

}

.camp_btn{
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    background-color: #7c1e1e;
    border-radius: 6px;
    border: none;
    height: 3rem;
    width: 10rem;
}
.camp_btn:hover{
    background-color: #983232;

}
.end_camp{
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    border-radius: 6px;
    border: none;
    height: 3rem;
    width: 10rem;
    background-color: black;

}
.end_camp:hover{
    background-color: rgb(225, 225, 225);
    color: black;
}

.gen_details_container{
    width: 95%;
    margin: auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* inventory starts*/
.inventory_data_table_outer{
    width: 95% !important;
    margin: auto;
    padding-bottom: 1rem;
}
/* inventory ends*/


/* order details starts */


.submit_order_outer{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 45%;
    padding-bottom: 2rem;
}
.submit_order{
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    border-radius: 6px;
    border: none;
    height: 2rem;
    width: 7rem;
    background-color: black;
}
.submit_order:hover{
    background-color: rgba(79, 79, 79, 0.639);
    color: black;
}
.total_amt{
    font-size: 2rem;
}
/* order details ends */


/* customer details start */

.name_span{
    font-weight: 400;
}
.customer_order{
    border-radius: 14px;
    background: white;
    margin: auto;
    width: 90%;
    box-shadow: 0 0 5px gray;
    margin-bottom: 1.5rem;
}
.history_cust_general{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    display: flex;
    padding-left: 1rem;
}
.history_cust_heading{
    display: flex;
    /* justify-content: start; */
    align-items: center;
    gap: 5rem;
}
.history_cust_heading h3{
    margin-bottom: 0;
    /* font-size: 2rem; */
}

.sales_id{
    font-weight: 300;
    font-size: 1rem;
}
.history_cust_add{
    
    margin-bottom: 0;
}
.cust_other_details{
    display: flex;
    gap: 2rem;
    justify-content: start;
    align-items: center;
}
.history_cust_phone,
.history_cust_mail,
.history_cust_total{
    margin-bottom: 0;
}
.cust_books_details{
    padding-bottom: 1rem;
}
/* customer details ends */